*,
&:before,
&:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background: $color-primary;
}

::selection {
    background: $color-primary;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    font-family: $preferred-font;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    @include rem(font-size, 16px);
}

a {
    color: $light-theme-color;
    text-decoration: none;

    &:hover,
    &:visited {
        color: $light-theme-color;
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.#{$nameprefix}toggle {
	text-transform: uppercase;
	font-weight: 400;
	@include rem(font-size, 14px);
}

.draggable-element {
  width: 150px;
  height: 70px;
  margin-top: 5px;
  background-color: #990000;
  border: 3px solid #444;
  border-radius: 3px;
}

.#{$nameprefix}txpanel {
    display: block;
    height: 63px;
    padding: 12px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: auto;
    left: 0;
    margin-left: 0;
    opacity: 1;
    z-index: 1001;
    box-shadow: none;
    box-sizing: border-box;

    a {
      width: 40px;
      box-sizing: border-box;
      border-radius: 0px;
      padding: 9px 12px;
      color: #333;
      background-color: rgba(224, 224, 224, 0.95);
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
      line-height: 1.6;
      text-decoration: none;
      -moz-user-select: none;
      transition: all 0.3s ease-in-out 0s;

      i,
      span {
        color: #333;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
      }
    }

    a:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    a:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
