.tt-feedback {
    position: fixed;
    bottom: 0;
    left: 300px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    width: 150px;
    background: #222;
    border: 1px solid #111;
    border-bottom: none;
    z-index: 5000;
}
