$notification-width: 320px;
$notification-shadow-opacity: 0.3;

$notification-error: #ec3d3d;
$notification-error-bg: #f4e9e9;
$notification-error-color: #412f2f;

$notification-success: $color-green;
$notification-success-bg: #FFF;
$notification-success-color: #31411c;

$notification-warning: #ebad1a;
$notification-warning-bg: #f9f6f0;
$notification-warning-color: #5a5343;

$notification-info: #369cc7;
$notification-info-bg: #e8f0f4;
$notification-info-color: #41555d;

.#{$nameprefix}notification {
    &-item {
        position: relative;
        width: 100%;
        cursor: pointer;
        margin: 15px 0 0;
        padding: 15px;
        display: block;
        overflow: hidden;
        opacity: 0;
        border: 1px solid #e4e4e4;
        transition: all 0.3s ease;
        @include user-select(none);
        @include rem(font-size, 14px);

        &-hidden {
            opacity: 0;
        }

        &-visible {
            opacity: 1;
        }

        &-title {
            margin: 0 0 3px 0;
            padding: 0;
            font-weight: 700;
            @include rem(font-size, 16px);
        }

        &-dismiss {
            position: absolute;
            top: 11px;
            right: 11px;
            height: 25px;
            width: 25px;
            cursor: pointer;
            border: 2px solid #444;
            border-radius: 100%;

            svg {
                display: block;
                margin: 0 auto;
                margin-top: 2px;
            }
        }

        &-error {
            border-top: 2px solid $notification-error;
            background: $notification-error-bg;
            color: $notification-error-color;
            box-shadow: 0 0 1px rgba($notification-error, $notification-shadow-opacity);
        }

        &-success {
            border-top: 2px solid $notification-success;
            background: $notification-success-bg;
            color: $notification-success-color;
            box-shadow: 0 0 1px rgba($notification-success, $notification-shadow-opacity);
        }

        &-warning {
            border-top: 2px solid $notification-warning;
            background: $notification-warning-bg;
            color: $notification-warning-color;
            box-shadow: 0 0 1px rgba($notification-warning, $notification-shadow-opacity);
          }

        &-info {
            border-top: 2px solid $notification-info;
            background: $notification-info-bg;
            color: $notification-info-color;
            box-shadow: 0 0 1px rgba($notification-info, $notification-shadow-opacity);
        }
    }

    &-tl,
    &-tr,
    &-tc,
    &-bl,
    &-br,
    &-bc {
        font-family: inherit;;
        position: fixed;
        padding: 0 20px 10px 10px;
        z-index: 9998;
        height: auto;
        width: $notification-width;
    }

    &-tl {
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
    }

    &-tr {
        top: 0;
        bottom: auto;
        left: auto;
        right: 0;
    }

    &-tc {
        top: 0;
        bottom: auto;
        margin: 0 auto;
        left: 50%;
        margin-left: -($notification-width / 2);
    }

    &-bl {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
    }

    &-br {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }

    &-bc {
        top: auto;
        bottom: 0;
        margin: 0 auto;
        left: 50%;
        margin-left: -($notification-width / 2);
    }
}
