.#{$nameprefix}page-new {
    position: relative;
		text-align: center;
		cursor: pointer;
		font-weight: 700;
		text-transform: uppercase;
		color: #333;
		border: 5px dotted;
		margin-right: 20px;
		width: $default-pagenew-size;
		line-height: $default-pagenew-size;
		height: $default-pagenew-size;
		@include transition(all 0.3s ease);
		@include user-select(none);
		@include clearfix;

		&:last-child {
				margin-right: 0;
		}

		&:hover {
        @include transform(scale(1.1));
  			@include shadow-4dp();
		}
}
