$slider-main-color: $color-primary;
$slider-main-color-contrast: $color-primary-contrast;
$slider-snap-color: $color-black;
$slider-disabled-color: rgba(177, 177, 177, 1);
$slider-knob-size: $unit * 3.2;
$slider-inner-knob-size: 1.2 * $unit;
$slider-snap-size: 0.2 * $unit;
$slider-input-width: 5 * $unit;
$slider-bar-height: 0.2 * $unit;
$slider-pin-size: 2.6 * $unit;
$slider-pin-elevation: 1.7 * $unit;
$slider-side-separation: 1 * $unit;
$slider-empty-knob-border: 0.2 * $unit;

.tt-slider__container {
    height: $slider-knob-size;
    margin-right: $slider-knob-size;
    position: relative;
    user-select: none;
    width: calc(100% - #{$slider-knob-size});
    
    &:not(:last-child) {
        margin-right: $slider-side-separation + $slider-knob-size;
    }

    &:not(:first-child) {
        margin-left: $slider-side-separation;
    }
}

.tt-slider__knob {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: $slider-knob-size;
    justify-content: center;
    left: 0;
    position: relative;
    top: 0;
    width: $slider-knob-size;
    z-index: 10;
}

.tt-slider__innerknob {
    background-color: $slider-main-color;
    border-radius: 50%;
    height: $slider-inner-knob-size;
    transition-duration: 0.1s;
    transition-property: height, width, background-color, border;
    transition-timing-function: $animation-curve-default;
    width: $slider-inner-knob-size;
    z-index: 10;
}

.tt-slider__snaps {
    display: flex;
    flex-direction: row;
    height: $slider-snap-size;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: calc(var(--slider-knob-size) / 2 - var(--slider-snap-size) / 2);
    width: calc(100% + var(--slider-snap-size));

    &::after {
        background-color: var(--slider-snap-color);
        border-radius: 50%;
        content: '';
        display: block;
        height: var(--slider-snap-size);
        width: var(--slider-snap-size);
    }
}

.tt-slider__snap {
    flex: 1;

    &::after {
        background-color: var(--slider-snap-color);
        border-radius: 50%;
        content: '';
        display: block;
        height: var(--slider-snap-size);
        width: var(--slider-snap-size);
    }
}

.tt-slider__progress {
    height: 100%;
    left: $slider-knob-size / 2;
    position: absolute;
    top: 0;
    width: 100%;

    & .tt-slider__innerprogress {
        height: $slider-bar-height;
        position: absolute;
        top: ($slider-knob-size / 2) - ($slider-bar-height / 2);

        & [data-ref='value'] {
            transition-duration: 0s;
        }
    }
}

.tt-slider {
    &:focus .tt-slider__knob::before {
        background-color: $slider-main-color;
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0.26;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    &[disabled] {
        cursor: auto;
        pointer-events: none;

        & .tt-slider__innerknob {
            background-color: $slider-disabled-color;
        }
    }

    &.editable {
        align-items: center;
        display: flex;
        flex-direction: row
    }

    &.pinned .tt-slider__innerknob {
        &::before {
            background-color: $slider-main-color;
            border-radius: 50% 50% 50% 0;
            content: '';
            height: $slider-pin-size;
            left: 0;
            margin-left: ($slider-knob-size) - ($slider-pin-size / 2);
            position: absolute;
            top: 0;
            transform: rotate(-45deg) scale(0) translate(0);
            transition:
                transform 0.2s ease,
                background-color 0.18s ease;
            width: $slider-pin-size;
        }

        &::after {
            color: var(--color-background);
            content: attr(data-value);
            font-size: 10px;
            height: var(--slider-pin-size);
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            transform: scale(0) translate(0);
            transition:
                transform 0.2s ease,
                background-color 0.18s ease;
            width: $slider-knob-size;
        }
    }

    &.pressed {
        &.pinned .tt-slider__innerknob {
            &::before {
                transform: rotate(-45deg) scale(1) translate(var(--slider-pin-elevation), calc(-1 * var(--slider-pin-elevation)));
                transition-delay: 100ms;
            }

            &::after {
                transform: scale(1) translate(0, calc(-1 * var(--slider-pin-elevation)));
                transition-delay: 100ms;
            }
        }

        &:not(.pinned) {
            &.ring .tt-slider__progress {
                left: calc(var(--slider-knob-size) / 2 + (var(--slider-knob-size) - var(--slider-empty-knob-border) * 2) / 2);
                width: calc(100% - ((var(--slider-knob-size) - var(--slider-empty-knob-border) * 2) / 2));
            }

            & .tt-slider__innerknob {
                height: 100%;
                transform: translateZ(0);
                width: 100%;
            }
        }
    }

    &.ring {
        & .tt-slider__innerknob {
            background-color: transparent;
            border: $slider-empty-knob-border solid $color-divider;;

            &::before {
                background-color: $slider-main-color;
            }
        }

        & .tt-slider__progress {
            left: ($slider-knob-size / 2) + ($slider-empty-knob-border * 2);
            transition:
                left 0.18s ease,
                width 0.18s ease;
            width: calc(100% - #{$slider-empty-knob-border * 2});
        }

         &.pinned {
            & .tt-slider__innerknob {
                background-color: $color-background;
            }

            & .tt-slider__progress {
                left: $slider-knob-size / 2;
                width: 100%;
            }
        }
    }
}
