.#{$nameprefix}be-block {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding: ($base-padding / 2) 0;

    &--first {
        border-top: 1px solid #e4e4e4;
    }

    &__title {
        padding: 0 $base-padding;
        position: relative;
		color: #555;
		height: $base-padding / 1.5;
		line-height: $base-padding / 1.5;
		font-weight: 400;
		margin: 5px 0 0 0;
		text-transform: uppercase;
		@include rem(font-size, 14px);
		@include transition(all 0.3s ease);
    }

    &__inputs {
        padding: 0 $base-padding;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        width: 100%;
        overflow: hidden;
    }

    &__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 45px;
        width: 50%;

        &__type,
        &__text {
            display: inline-block;
        }

        &__type {
            padding: 0 !important;
            width: 40px;
            margin-top: 2px;
            font-size: 14px;

            input[type="text"] {
                font-size: 14px;
            }
        }

        &__text {
            color: #999;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 400;
        }

        &__icon {
            position: relative;
            left: -5px;
            top: 1px;

            path {
                fill: #999;
            }
        }
    }

    &__space,
    &__radius,
    &__align {
        padding: 0 $base-padding;
        position: relative;
        overflow: hidden;
        height: 45px;
        margin-top: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
    }

    &__space {
        &__item {
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            svg {
                position: relative;
                top: 5px;
                margin-right: 10px;

                path {
                    fill: #ccc;
                }
            }
        }

        &__input {
            display: inline-block;
            padding: 0 !important;
            width: 40px;
            margin-top: 2px;
            font-size: 14px;

            input[type="text"] {
                font-size: 14px;
            }
        }
    }

    &__align {
        &__item {
            display: inline-block;
            margin-top: 5px;
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #eee;
            border: 1px solid #ccc;
            cursor: pointer;

            &:first-child {
                border-radius: 3px 0 0 3px;
                border-right: 1px solid darken(#ccc, 3%);
            }

            &:nth-child(2) {
                border-right: 0;
                border-left: 0;
            }

            &:last-child {
                border-radius: 0 3px 3px 0;
                border-left: 1px solid darken(#ccc, 3%);
            }

            svg {
                margin: auto;
                position: relative;
                margin-top: 5px;

                path {
                    fill: #ccc;
                }
            }

            &--active {
                svg {
                    path {
                        fill: $base-color;
                    }
                }
            }
        }
    }

    &__radius {
        &__item {
            display: inline-block;
            margin-right: 5px;

            &--first {
                padding-right: 14px;
            }
        }

        &__icon {
            margin-top: 5px;
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #eee;
            border: 1px solid #ccc;
            display: inline-block;
            cursor: pointer;

            &:first-child {
                border-radius: 3px 0 0 3px;
                border-right: 1px solid darken(#ccc, 3%);
            }

            &:last-child {
                border-radius: 0 3px 3px 0;
                border-left: none;
            }

            svg {
                margin: auto;
                position: relative;
                margin-top: 5px;

                path {
                    fill: #ccc;
                }
            }

            &--active {
                svg {
                    path {
                        fill: $base-color;
                    }
                }
            }
        }

        &__input {
            padding: 0 !important;
            width: 25px;
            margin-top: 0;
            top: 2px;
            font-size: 14px;

            input[type="text"] {
                font-size: 14px;
            }
        }
    }
}
