.#{$nameprefix}be-block {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: ($base-padding / 2);

    &__title {
        padding: 0 $base-padding;
        position: relative;
		color: #555;
		height: $base-padding / 1.5;
		line-height: $base-padding / 1.5;
		font-weight: 400;
		margin: 0;
		text-transform: uppercase;
		@include rem(font-size, 14px);
		@include transition(all 0.3s ease);
    }
}
