.#{$nameprefix}filter {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    height: $item-height * 2;
    line-height: $item-height * 2;
    @include clearfix;

    &__text {
        cursor: pointer;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        overflow: hidden;
        height: $item-height * 2;
        line-height: $item-height * 2;
        padding: 0 $base-padding;
        @include rem(font-size, 18px);

        svg {
            position: absolute;
            right: $base-padding;
            top: (($item-height * 2) / 2) - 12;
        }

        span:nth-of-type(2) {
            margin-left: 10px;
            position: relative;
            top: 0px;
            @include rem(font-size, 12px);

            &:before {
                content: "(";
            }

            &:after {
                content: ")";
            }
        }
    }

    &__items {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 40px;
        z-index: 500;
        padding: ($base-padding / 3) 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                padding: 0;
                margin: 0;
                width: 50%;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                float: left;
                display: block;
                font-weight: 400;
                text-transform: uppercase;
                @include rem(font-size, 14px);
                @include transition(color 0.3s ease);

                &:nth-child(odd) {
                    padding-left: $base-padding;
                }

                &.active,
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }

    &.active {
        .#{$nameprefix}filter {
            &__items {
                display: block;
            }
        }
    }
}
