.#{$nameprefix}tab {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    @include transform(translateX(0px));

    &.open {
        @include transform(translateX(-$aside-width));
    }

    &__blockeditor {
        z-index: 30;
    }

    &__close {
        overflow: hidden;
        position: relative;
        display: block;
        cursor: pointer;
        margin-bottom: 20px;
        height: $base-padding;
        line-height: $base-padding + 5;
        padding: 0 $base-padding;
        @include transition(all 0.3s ease);

        svg {
            position: absolute;
            color: inherit;
            top: 5px;
            left: 0;
            left: $base-padding;
            @include transition(all 0.3s ease);
            @include transform(scale3d(1, 1, 1));

            path {
                fill: #666;
            }
        }

        span {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            color: #666;
            line-height: $base-padding;
            padding-left: $base-padding + 5;
            @include rem(font-size, 14px);
        }

        &:hover {
            svg {
                @include transform(scale3d(1.2, 1.2, 1.2));

                path {
                    fill: #222;
                }
            }

            span {
                color: #222;
            }
        }
    }

    .relav {
        position: relative;
    }

    .wrap {
        padding: 0 $base-padding;
    }

    .tip {
        position: relative;
        cursor: pointer;
        width: 100%;
        min-height: $item-height;
        max-height: $item-height * 2;
        line-height: $item-height;
        padding: 0 $base-padding;
        @include rem(font-size, 14px);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        letter-spacing: 0;
        padding: 0 $base-padding;
        @include rem(font-size, 22px);
        
        > span {
            &:nth-child(1) {
                &:after {
                    content: "/";
                    @include rem(font-size, 22px);
                }
            }

            &:nth-child(2) {
                font-weight: 300;
                @include rem(font-size, 14px);
            }
        }
    }
}
