.#{$nameprefix}logo {
		position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: $base-padding;
    margin-bottom: $base-padding * 1.5;
    height: 50px;
    width: 150px;
    @include clearfix;

		img {
				width: 100%;
		}
}
