.#{$nameprefix}primarynav {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    @include clearfix;

    li {
        position: relative;
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-weight: 400;
        cursor: pointer;
        color: $base-text-color;
        padding: 10px $base-padding;
        @include rem(font-size, 18px);
        @include user-select(none);
        @include transition(all 0.3s ease);

        svg {
            position: relative;
            display: inline-block;
            color: inherit;
            top: 2px;
            margin-right: 10px;
        }

        &.hide {
            cursor: default;
            opacity: 0.5;

            &:hover {
                background: transparent;
            }
        }

        &:hover {
            background-color: #e3e5e9;
        }
    }
}
