$default-aside-width: 275px;
$default-aside-bg: #eee;
$aside-item-padding: 20px;

.#{$abprefix}aside {
    position: relative;
    height: 100%;
    float: left; 
    overflow: hidden;
    z-index: 10;
    background: $default-aside-bg;
    width: $default-aside-width;
    @include user-select(none);

    &__itemwrapper {
        overflow: hidden;
        height: 100%;
        width: $default-aside-width * 3;
    }

    &__item { 
        position: relative;
        height: 100%;
        float: left; 
        display: block;
        padding: $aside-item-padding;
        width: $default-aside-width;
        @include clearfix; 
    }
} 