*,
&:before,
&:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
	z-index: 1;
    @include rem(font-size, 16px);
}

.#{$abprefix}toggle {
	text-transform: uppercase;
	font-weight: 400;
	@include rem(font-size, 14px);
}

$switch-width: 50px;
$switch-height: 24px;
$switch-btn-size: 20px;

.#{$abprefix}switch {
	cursor: pointer;
	position: relative;
	float: right;
	margin-top: 3px;
	text-align: center;
	background: #c0392b;
	border-radius: 10px;
	width: $switch-width;
	height: $switch-height;
	line-height: $switch-height - 4;
	@include transition(all 0.3s ease);

	&:before {
		position: relative;
		font-weight: 700;
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		content: "Off";
	}

	&.toggled {
		background: #40d47e;

		&:before {
			content: "On";
		}
	}
}

.draggable-element {
  width: 150px;
  height: 70px;
  margin-top: 5px;
  background-color: #990000;
  border: 3px solid #444;
  border-radius: 3px;
}

.#{$abprefix}loadimage {
	position: relative;
  	background: #eee;
  	height: 100%;
  	width: 100%;
  	overflow: hidden;

    img {
    	opacity: 0;
    	max-height: 100%;
    	@include transition(all 0.3s ease);
    }

	&.loaded {
		img {
			opacity: 1;
		}

		.#{$abprefix}loadimage__icon {
			display: none;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;

		.icon {
			position: relative;
			animation: 0.6s linear 0s normal forwards infinite running anim_121444834759445;

			&__ball {
				border-radius: 100%;
				position: absolute;
				top: 25.7143px;
				background-color: $base-color;
				opacity: 0.8;
				animation: 0.6s linear 0s normal forwards infinite running anim_121444834759445;
			}

			&__track {
			    border-radius: 100%;
			    opacity: 0.1;
			    border: solid $base-color;
			}
		}
	}
}

@include keyframes (anim_121444834759445) {
	100% {
        transform: rotate(360deg)
    }
}

.#{$abprefix}txpanel {
    display: block;
    height: 63px;
    padding: 12px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: auto;
    left: 0;
    margin-left: 0;
    opacity: 1;
    z-index: 1001;
    box-shadow: none;
    box-sizing: border-box;

    a {
      width: 40px;
      box-sizing: border-box;
      border-radius: 0px;
      padding: 9px 12px;
      color: #333;
      background-color: rgba(224, 224, 224, 0.95);
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
      line-height: 1.6;
      text-decoration: none;
      -moz-user-select: none;
      transition: all 0.3s ease-in-out 0s;

      i,
      span {
        color: #333;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
      }
    }

    a:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    a:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
