[class^=#{$abprefix}],
[class*=#{$abprefix}] {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    font-size: 62.5%;
    background: #fff;
    font-family: "Open Sans", sans-serif;
}

body {
	z-index: 1;
    @include rem(font-size, 16px);
}