.#{$abprefix}loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    @include transition(all 0.3s ease);

    &.show {
        z-index: 9999;
        opacity: 1;
        visibility: visible;
    }
}

.#{$abprefix}loadingIcon {



    animation: animate 1.5s linear infinite forwards;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: fixed;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -80px;

  &:after {
  animation: animate2 1.5s ease-in-out infinite forwards;
  clip: rect(0, 80px, 80px, 40px);
  content: '';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
@keyframes animate2 {
  0% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #fff 0 0 0 2px;
  }
  100% {
    box-shadow: inset #fff 0 0 0 17px;
    transform: rotate(140deg);
  }
}
