.#{$abprefix}main {
    position: absolute;
    overflow: hidden;
    background: #fff;
    top: 0;
    left: $default-aside-width;
    width: calc(100% - #{$default-aside-width});
    bottom: 0;
    right: 0;
    height: 100%;
    @include transition(all 0.3s ease);

    &.fullsize {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 100%;
    }

    &-template-selection {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        h1 {
            display: block;
            width: 100%;
            text-align: center;
            color: #666;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: round($default-aside-width / 5.6);
            margin-top: round($default-aside-width / 2.3);
            @include clearfix;
        }
    }
}