.#{$abprefix}main {
    position: absolute;
    top: 0;
    left: $default-aside-width;
    width: calc(100% - #{$default-aside-width});
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 30;
    @include transition(all 0.3s ease);

    &.fullsize {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 100%;
    }

    &.preview {
        width: 100%;
        left: 0;
        top: 0;
    }
}

$preview-controls-height: 55px;

.#{$abprefix}preview { 
    height: 100%;
    width: 100%;

    &__controls {
        position: relative;
        display: block;
        overflow: hidden;
        background: #eee;
        height: $preview-controls-height;
        line-height: $preview-controls-height;
    }

    &__close {
        overflow: hidden;
        position: relative;
        display: block;
        width: auto;
        float: left;
        cursor: pointer;
        padding: 0 $base-padding;
        height: $preview-controls-height;
        line-height: $preview-controls-height;
        @include transition(all 0.3s ease);

        &:before {
            display: block;
            position: absolute;
            left: $base-padding;
            height: $preview-controls-height;
            width: $preview-controls-height;
            top: 0;
            text-align: left;
            content: "\e687";
            font-family: 'Pe-icon-7-stroke';
            @include rem(font-size, 32px);
            @include transition(all 0.3s ease);
            @include transform(scale3d(1, 1, 1));
        }

        span {
            padding-left: $base-padding;
        }

        &:hover {
            color: $base-color;

            &:before {
                @include transform(scale3d(1.2, 1.2, 1.2));
            }
        }

    }

    &__responsive {
        display: block;
        @include clearfix;

        $item-width: $preview-controls-height - 10px;

        ul {
            display: block;
            width: $item-width * 2;
            overflow: hidden;
            height: 100%;
            list-style: none;

            li {
                cursor: pointer;
                background: #FFF;
                display: inline-block;
                margin-top: 5px;
                border-right: 1px solid #e4e4e4;
                text-align: center;
                width: $item-width;
                height: $item-width;
                line-height: $item-width;
                @include rem(font-size, 24px);
                @include clearfix;

                &:first-child {
                    border-radius: 5px 0 0 5px;
                }

                &:last-child {
                    border-radius: 0 5px 5px 0;
                    border-right: none;
                }
            }
        }
    }

    .#{$abprefix}canvas {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: calc(100% - 50px);
        width: 100%;
        box-shadow: 0 0 10px rgba(#000, 0.3);
    }
}