.#{$abprefix}primarynav {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    @include clearfix;
      
    li {
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        color: #34495e;
        padding: 10px $base-padding;
        @include user-select(none);
        @include transition(all 0.3s ease);
        
        span {
          color: inherit;
          margin-right: 10px;
        }

        &:hover {
            background: darken($default-aside-bg, 13%);
        }

        &.hide {
            cursor: default;
            opacity: 0.5;

            &:hover {
                background: transparent;
            }
        }
    }
}