#react-js {
	height: 100%;
	width: 100%;
	overflow: hidden;
	
	.react-wrap {
		height: 100%;
		width: 100%;
		overflow: hidden;
		@include transition(all 0.3s ease);

		&.preview {
			background: #eee;
		}
	}
}