$item-height: 30px;

.#{$abprefix}color,
.#{$abprefix}swatch,
.#{$abprefix}toggle {
	position: relative;
	cursor: pointer;
	width: 100%;
	min-height: $item-height;
	max-height: $item-height * 2;
	line-height: $item-height;
	padding: 0 $base-padding;
}

.#{$abprefix}filter {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	background: $base-color;
	height: $item-height * 2;
	line-height: $item-height * 2;
	@include clearfix;

	&__text {
		cursor: pointer;
		display: block;
		height: $item-height * 2;
		line-height: $item-height * 2;
		text-transform: uppercase;
		color: #FFF;
		font-weight: 700;
		overflow: hidden;
		padding: 0 $base-padding;
		@include rem(font-size, 18px);

		div {
			&:after {
				position: absolute;
				content: "\e688";
				font-family: "Pe-icon-7-stroke";
				@include transform(rotate(0));
				@include transition(transform 0.3s ease);
				@include rem(font-size, 30px);
			}
		}
	}

	&__items {
		display: none;
		position: absolute;
		width: 100%;
		min-height: 40px;
		background: #fff;
		box-shadow: 0 0 30px rgba(#000, 0.3);
		z-index: 500;
		padding: ($base-padding / 3) 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				cursor: pointer;
				padding: 0;
				margin: 0;
				width: 50%;
				height: 40px;
				line-height: 40px;
				overflow: hidden;
				float: left;
				display: block;
				font-weight: 400;
				text-transform: uppercase;
				@include rem(font-size, 14px);
				@include transition(color 0.3s ease);

				&:nth-child(odd) {
					padding-left: $base-padding;
				}

				&.active,
				&:hover {
					color: $base-color;
				}
			}
		}
	}

	&.active {
		.#{$abprefix}filter {
			&__text {
				div:after {
					margin-top: 2px;
					@include transform(rotate(180deg));
				}
			}
			&__items {
				display: block;
			}
		}
	}
}

.#{$abprefix}select {
	position: relative;
	cursor: pointer;
	width: $default-aside-width - ($base-padding * 2);
	margin: 0 $base-padding;

	&__name {
		text-transform: capitalize;
		color: #333;
		font-weight: 400;
		margin: 15px 0 0;
		padding: 0;
		@include rem(font-size, 14px);
	}
}

.#{$abprefix}item {
	position: relative;
	cursor: pointer;
	text-transform: uppercase;

	&.link {
		width: 100%;
		min-height: $item-height;
		max-height: $item-height * 2;
		line-height: $item-height;
		padding: 0 $base-padding;

		&:after {
			color: inherit;
			position: absolute;
			font-family: "Pe-icon-7-stroke";
			content: "\e684";
			right: $base-padding;
			@include rem(font-size, 30px);
			@include transition(all 0.3s ease);
		}
	}
}

.#{$abprefix}color {
	text-transform: uppercase;

	&__name {
		font-weight: 400;
		@include rem(font-size, 14px);
	}

	&__circle {
		position: absolute;
		display: block;
		border-radius: 100%;
		overflow: hidden;
		box-shadow: 0 2px 6px rgba(#000, 0.3);
		right: $base-padding;
		top: ($base-padding - round($item-height / 1.5)) / 4;
		height: round($item-height / 1.5);
		width: round($item-height / 1.5);

		> span {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.#{$abprefix}tab,
.#{$abprefix}sidetab {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
	overflow: auto;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	@include transition(transform 0.3s ease);
	@include transform(translateX(0px));

	&.open {
		@include transform(translateX(-$default-aside-width));
	}

	&__close {
		height: $base-padding;
		line-height: $base-padding;
		overflow: hidden;
		position: relative;
		display: block;
		cursor: pointer;
		padding: 0 $base-padding;
		@include transition(all 0.3s ease);

		&:before {
			display: block;
			position: absolute;
			left: $base-padding;
			height: $base-padding;
			width: $base-padding;
			top: 0;
			text-align: left;
			content: "\e687";
			font-family: 'Pe-icon-7-stroke';
			@include rem(font-size, 32px);
			@include transition(all 0.3s ease);
			@include transform(scale3d(1, 1, 1));
		}

		span {
			padding-left: $base-padding;
		}

		&:hover {
			color: $base-color;

			&:before {
				@include transform(scale3d(1.2, 1.2, 1.2));
			}
		}
	}

	h1 {
		color: #333;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 $base-padding;
		@include rem(font-size, 24px);
	}

	h2 {
		position: relative;
		color: #555;
		height: $base-padding / 1.5;
		line-height: $base-padding / 1.5;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 0;
		text-transform: uppercase;
		padding-left: $base-padding;
		padding-right: $base-padding;
		@include rem(font-size, 18px);
		@include transition(all 0.3s ease);

		&.to-sidebar {
			cursor: pointer;
			margin-bottom: 30px;

			&:after {
				color: inherit;
				position: absolute;
				right: 0;
				height: 22px;
				line-height: 22px;
				font-family: "Pe-icon-7-stroke";
				content: "\e684";
				@include rem(font-size, 30px);
				@include transition(all 0.3s ease);
			}

			&:hover {
				color: $base-color;
			}
		}
	}
}

.#{$abprefix}scrollbar {
	&__inner {
		padding: $base-padding 0;
	}
}