$item-height: 33px;

.#{$abprefix}color,
.#{$abprefix}swatch,
.#{$abprefix}toggle {
	position: relative;
	cursor: pointer;
	width: 100%;
	min-height: $item-height;
	max-height: $item-height * 2;
	line-height: $item-height;
	padding: 0 $base-padding;
}

.#{$abprefix}copyright {
		position: absolute;
		text-align: center;
		bottom: $base-padding / 2;
		left: $base-padding;

		h3 {
				margin-bottom: 5px;
				color: #777;
				text-transform: uppercase;
				@include rem(font-size, 12px);
		}
}

.#{$abprefix}currentPage {
    position: relative;
    list-style: none;
		margin: 0;
		padding: 0;

    &__item {
				position: relative;
				width: 100%;
				min-height: $item-height;
		    max-height: $item-height * 2;
		    line-height: $item-height;
		    padding: 0 $base-padding;
				@include user-select(none);

				&:hover {
						.remove {
								opacity: 1;
						}
				}

        &-title {
            display: inline-block;
            text-overflow: ellipsis;
            cursor: text;
            padding-right: 8px;
            @include user-select(text);
						@include rem(font-size, 14px);
        }

				.handle {
						height: 18px;
						width: 18px;
						display: inline-block;
						position: relative;
						margin-right: 5px;
						cursor: move;
						svg {
							position: relative;
							top: 3px;
						}
				}

				.remove {
						opacity: 0;
						position: absolute;
						top: 4px;
						text-align: right;
						cursor: pointer;
						right: $base-padding / 2;
						@include transition(all 0.3s ease);
				}
    }
}

.#{$abprefix}select {
	position: relative;
	cursor: pointer;
	width: $default-aside-width - ($base-padding * 2);
	margin: 0 $base-padding;

	&__name {
		text-transform: capitalize;
		color: #333;
		font-weight: 400;
		margin: 15px 0 0;
		padding: 0;
		@include rem(font-size, 14px);
	}
}

.#{$abprefix}item {
	position: relative;
	cursor: pointer;
	text-transform: uppercase;

	&.link {
		width: 100%;
		min-height: $item-height;
		max-height: $item-height * 2;
		line-height: $item-height;
		padding: 0 $base-padding;

		&:after {
			color: inherit;
			position: absolute;
			font-family: "Pe-icon-7-stroke";
			content: "\e684";
			right: $base-padding;
			@include rem(font-size, 30px);
			@include transition(all 0.3s ease);
		}
	}
}





.#{$abprefix}scrollbar {
	&__inner {
		padding: $base-padding 0;
	}
}
