$default-templateitem-size: 300px;

.#{$abprefix}templateitem {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
    height: $default-templateitem-size;
    width: $default-templateitem-size;
    @include transition(all 0.3s ease);
    @include clearfix;
    @extend .z1;

    &:hover {
        @extend .z2;
    }

    &:last-child {
        margin-right: 0;
    }

    // .ab-templateitem__bg
    &__bg {
      position: relative;
      background-size: cover;
      background-position: top center;
      width: 100%;
      height: round($default-templateitem-size / 2.3);
    }

    // .ab-templateitem__figure
    &__figure {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;

        h1 {
            margin: 0;
            padding: 15px;
            font-weight: 700;
            text-transform: capitalize;
            color: #444;
            text-align: left;
            font-size: 22px;
        }

        p {
            margin: 0;
            padding: 15px;
        }
    }
}