$selecttemplate-bg: #00000C;
$templateitem-max-width: 350px;

.#{$abprefix}templateitem {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    width: $templateitem-max-width;
    height: $templateitem-max-width + 100;
    @include transform(translateZ(0));
    @include backface-visibility(hidden); 

    &__figure {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;

        &:hover {
            figcaption {
                opacity: 1;
            }
        }

        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }

        figcaption {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background: rgba(#000, 0.7);
            @include transition(opacity 0.3s ease);

            h2 {
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                height: 50px;
                line-height: 50px;
                width: 150px;
                position: absolute;
                left: calc(50% - 75px);
                top: calc(50% - 25px);
                text-shadow: 0 0 3px rgba(#333, 0.5);
                @include rem(font-size, 24px);
            }
        }
    }
}


.#{$abprefix}selecttemplate {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $selecttemplate-bg;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    &__heading {
        position: relative;
        width: 100%;
        color: #fff;
        height: 50px;
        font-weight: 200;
        overflow: hidden;
        text-align: center;
        margin: 0 0 100px 0;
        @include rem(font-size, 36px);
        @include clearfix;
    }

    &__list {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 450px;
        width: auto;
        margin: 0;
        padding: 0 50px;
        -webkit-overflow-scrolling: touch;
        @include transition(transform 0.3s ease);
        @include transform(translateX(0px));
        @include clearfix;
    }

    &__nav {
        .right,
        .left {
            cursor: pointer;
            position: absolute;
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            height: 60px;
            line-height: 60px;
            width: 40px;
            background: #fff;
            z-index: 9999;
            color: #333;
            overflow: hidden;
            text-align: center;
            box-shadow: 0 0 15px rgba(#000, 0.3);
            @include rem(font-size, 36px);
        }

        .right {
            right: 0;
        }
    }
}