$themes: (
	"light": (
		"core": #FFF,
		"main-h1": #444,
		"bg": #eee,
		"templateitem-bg": #FFF,
		"templateitem-h1": #444
	)
);

@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);

	@if $value != null {
		@if $length > 1 {
			$rest: ();

			@for $i from 2 through $length {
				$rest: append($rest, nth($keys, $i))
			}

			@return map-fetch($value, $rest);
		} @else {
			@return $value;
		}
	} @else {
		@return false;
	}
}

@each $theme, $map in $themes {
	.#{$theme} {
		background: map-fetch($themes, $theme "core");

		.#{$abprefix}main {
			box-shadow: 0 0 10px rgba(#000, 0.3);
			background: map-fetch($themes, $theme "core");
		}

		.#{$abprefix}aside,
		.#{$abprefix}tab,
		.#{$abprefix}sidetab {
			background: map-fetch($themes, $theme "bg");
		}
	}
}

.light {
	.#{$abprefix}primarynav {
		li {
			color: #34495e;

			&:hover {
	            background: darken(#eee, 13%);
	        }
		}
	}

	.#{$abprefix}swatch {
		&__color {
			background: darken(#eee, 13%);

			> span {
				background: #000;
			}
		}
	}

	.#{$abprefix}page-new {
		border-color: #e4e4e4;
	}

	.#{$abprefix}size {
		input[type="range"] {
			background: #eee;

			&::-moz-range-track {
				background: darken(#eee, 17%);
			}

			&::-webkit-slider-runnable-track {
				background: darken(#eee, 17%);
			}

			&::-ms-fill-lower,
			&::-ms-fill-upper {
				background: darken(#eee, 17%);
			}

			&::-moz-range-thumb {
				background: #fff;
			}

			&::-webkit-slider-thumb {
				background: #fff;
			}

			&::-ms-thumb {
				background: #fff;
			}
		}
	}
}
