.#{$nameprefix}newpage {
    position: relative;
		text-align: center;
		cursor: pointer;
    background: #FFF;
		margin-right: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
		width: $pagenew-size + 20;
		line-height: $pagenew-size;
		height: $pagenew-size;
		@include transition(all 0.3s ease);
		@include user-select(none);
		@include clearfix;

    span {
        font-weight: 700;
        color: #222;
        text-transform: uppercase;
        @include rem(font-size, 16px);
    }

		&:last-child {
				margin-right: 0;
		}

		&:hover {
        @include transform(scale(1.1));
  			@include shadow-4dp();
		}
}
