root = true

# Global
[*]
end_of_line = LF
insert_final_newline = true
charset = utf-8

# Javascript
[*.{js,jsx}]
indent_style = space
indent_size = 4

# Stylesheet
[*.{css,scss,sass}]
indent_style = space
indent_size = 4

# HTML
[*.{jade,html}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2
