.#{$styleprefix}notification {
    &__container {
        position: fixed;
        z-index: 999999;
        pointer-events: none;

        &.top-right {
          top: $notification-container-margin - 10px;
          right: $notification-container-margin;
        }

        &.bottom-right {
            bottom: $notification-container-margin - 10px;
            right: $notification-container-margin;
        }
    }

    &__close {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        text-align: center;
        height: 25px;
        width: 25px;
        line-height: 25px;
        overflow: hidden;
        @include rem(font-size, 26px);
    }

    &__item {
        position: relative;
        pointer-events: auto;
        overflow: hidden;
        width: 230px;
        border-radius: 3px;
        padding: 10px;
        opacity: 0.8;
        margin-bottom: 10px;
        color: #FFF;
        box-shadow: 0 0 30px rgba(#000, 0.3);
        background: $loadingscreen-bg;
        @include transition(opacity 0.5s ease);

        &.close {
          opacity: 0;
        }

        &-inner,
        &-inner > div {
            width: 100%;
            height: 100%;
            overflow: hidden;
            min-height: 50px;
            @include display(flex);
            @include align-items(center);
            @include align-content(flex-start);
            @include justify-content(center);
            @include flex-direction(row);
            @include flex-wrap(wrap);

            h1 {
                margin-left: 15px;
                text-transform: uppercase;
                font-weight: 700;
                @include rem(font-size, 16px);
            }
        }
    }
}
