.#{$nameprefix}size {
    position: relative;
    padding: 0 40px;
    width: 100%;
    margin-top: 15px;
    @include rem((
        font-size: 14px
    ));

    label {
        display: block;
        margin: 0 0 7px;
    }

    &__output {
        position: absolute;
        top: 0;
        right: 40px;
        font-weight: 700;

        &.px {
            &:after {
                content: "px";
            }
        }
    }
}
