.#{$nameprefix}time {
    &__showtime {
        text-align: center;

        .time {
            width: 65px;
            height: 65px;
            display: inline-block;
            line-height: 65px;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
            @include rem(font-size, 38px);
        }

        .separator {
            display: inline-block;
            font-size: 32px;
            font-weight: 700;
            width: 32px;
            height: 65px;
            line-height: 65px;
            text-align: center;
        }
    }
}
