.#{$nameprefix}timeinput {
    display: inline-block;
    width: 100%;
    padding: 25px;

    &__options {
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;

        button {
            float: left;
            width: 50%;
            text-align: center;
            font-size: 16px;
            padding: 7px;
            border: 1px solid;
            border-radius: 3px;
            background: transparent;
            outline: none;

            &:hover,
            &:active {
                outline: none;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &__tab {
        display: none;
        height: 350px;
        overflow: hidden;

        &.is-active {
            display: block;
        }
    }

    &__tabs {
        margin-bottom: 0;
    }
}
