//-- Global variables
$nameprefix: "ab-";
$base-padding: 35px;
$unit: 1rem; 
$preferred-font: "Monsterrat", sans-serif;
$base-color: #ff7f2a;

//-- Core colors (iOS 7 based)
$color-charcoal:      #2B2B2B;
$color-red:           #FF3B30;
$color-orange:        #FF9500;
$color-yellow:        #FFCC00;
$color-green:         #4CD964;
$color-lightBlue:     #34AADC;
$color-blue:          #007AFF;
$color-purple:        #5856D6;
$color-magenta:       #FF2D55;
$color-spaceGray:     #8E8E93;
$color-gray:          #C7C7CC;
$color-black:         #1F1F21;
$color-white:         #F7F7F7;
$color-midnightBlue:  #2c3e50;

//- Text color configuration
$color-text: $color-black;
$color-primary: $color-blue;

$base-text-color: #2e5266;

//-- Color configuration
$color-divider: #e4e4e4 !default;
$color-background: #000 !default;
$color-hover: #ccc !default;
$color-text: #333 !default;
$color-text-secondary: #666 !default;
$color-overlay: $color-black;
$color-overlay-opacity: 0.5;
$color-dark-contrast: $color-white !default;
$color-light-contrast: $color-black !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

//-- Light theme variables
$light-theme-color: #ff7f2a;
$light-primary-text-color: #444;
$light-secondary-text-color: #888;
$light-primary-color: #e7e7e7;
$light-secondary-color: #fff;
$light-primary-border-color: #ccc;
$light-range-track-color: darken($light-secondary-color, 20%);
$light-main-box-shadow: 0 0 20px rgba(#000, 0.3);

//-- Animation
$animation-duration: .35s;
$animation-delay: $animation-duration / 5;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

//-- Shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

//-- Depth Shadows
$zdepth-shadow-1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
$zdepth-shadow-2: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
$zdepth-shadow-3: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
$zdepth-shadow-4: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
$zdepth-shadow-5: 0 19px 60px rgba(0,0,0,0.30), 0 15px 20px rgba(0,0,0,0.22);

//-- Indexes
$z-index-higher: 200;
$z-index-high: 100;
$z-index-normal: 1;
$z-index-low: -100;
$z-index-lower: -200;

//-- Loading screen variables
$loadingscreen-bg: #333;
$loadingscreen-primary: #ff7f2a;
$loadingscreen-loader-border-thickness: 5px;
$loadingscreen-loader-corner-radio: 8px;
$loadingscreen-loader-base-opacity: 0.25;
$loadingscreen-loader-color-primary: #2f2f37;
$loadingscreen-loader-snake-color: #f1f1f2;
$loadingscreen-loader-animation-settings: 2s linear infinite;
$loadingscreen-loader-size-big: 100px;
$loadingscreen-loader-mask-size-big: $loadingscreen-loader-size-big / 1.618;
$loadingscreen-loader-size-small: 50px;
$loadingscreen-loader-mask-size-small: $loadingscreen-loader-size-small / 3;

//-- Aside variables
$aside-width: 275px !default;

//-- Upperbar variables
$upperbar-height: 50px;
$upperbar-background: #fff;

//-- Contentblock variables
$contentblock-figcaption-height: 35px;

//-- Logo variables
$logo-default-width: 145px;
$logo-default-height: 40px;
$logo-default-color: #333;
$logo-default-size: 4px;

//-- Page variables
$pagenew-size: 300px;
$item-height: 33px;

//-- Notification variables
$notification-container-margin: 25px;

//-- Select variables
$select-height: 40px;
