//-- io7 colors
$color-charcoal:      #2B2B2B;
$color-red:           #FF3B30;
$color-orange:        #FF9500;
$color-yellow:        #FFCC00;
$color-green:         #4CD964;
$color-lightBlue:     #34AADC;
$color-blue:          #007AFF;
$color-purple:        #5856D6;
$color-magenta:       #FF2D55;
$color-spaceGray:     #8E8E93;
$color-gray:          #C7C7CC;
$color-black:         #1F1F21;
$color-white:         #F7F7F7;

//-- Flatcolors
$color-midnightBlue:  #2c3e50;

//-- Common
$color-text: $color-black;
$color-primary: $color-orange;
