$styleprefix: 'ab-';
$base-color: #9b59b6;
$base-padding: 40px;

$default-aside-width: 275px !default;

$contentblock-figcaption-height: 35px;

$logo-default-width: 145px;
$logo-default-height: 40px;
$logo-default-color: #333;
$logo-default-size: 4px;

$item-height: 33px;

$default-pagenew-size: 250px;

$notification-container-margin: 25px;

$select-height: 40px;
