.#{$nameprefix}aside {
    position: relative;
    height: 100%;
    float: left;
    overflow: hidden;
    z-index: 10;
    width: $default-aside-width;
    @include user-select(none);

    &__itemwrapper {
        overflow: hidden;
        height: 100%;
        width: $default-aside-width * 3;
    }

    &__item {
        position: relative;
        height: 100%;
        float: left;
        display: block;
        width: $default-aside-width;
        @include clearfix;
    }
}
