.#{$nameprefix}contentblocks {
		position: relative;
		padding: 0 ($base-padding / 1.6) 0 $base-padding;

		&__inner {
				width: 100%;

				.blocktitle {
						position: relative;
						width: 100%;
						display: inline-block;
						margin: 0;
						padding: 0;
						margin-top: 20px;
						margin-bottom: 5px;
						font-weight: 200;
						text-transform: uppercase;
						color: #555;
						@include rem(font-size, 18px);
						@include clearfix;

						&.hide {
								display: none;
						}

						&:nth-of-type(1) {
								margin-top: 0;
						}
				}
		}

		&__block {
				cursor: pointer;
				position: relative;
				display: inline-block;
				width: 100%;
				margin: 0;
				padding: 0;
				line-height: 0;
				margin-bottom: ($contentblock-figcaption-height + 15);
				transition-property: transform;
				transition-timing-function: $animation-curve-default;
				transition-duration: $animation-duration;
				@include clearfix;

				&:hover {
						cursor: grab;
						@include transform(scale(1.1));
				}

				&.hide {
						display: none;
				}

				img {
						margin: 0;
						padding: 0;
						width: 100%;
						min-height: 50px;
						pointer-events: none;
				}

				figcaption {
						position: absolute;
						margin: 0;
						padding: 0;
						width: 100%;
						color: #FFF;
						background: #333;
						overflow: hidden;
						padding: 0 15px;
						bottom: -$contentblock-figcaption-height;
						line-height: $contentblock-figcaption-height;
						height: $contentblock-figcaption-height;
						@include rem(font-size, 14px);
				}
		}
}
