.#{$styleprefix}copyright {
		position: absolute;
		text-align: center;
		bottom: $base-padding / 2;
		left: $base-padding;

		h3 {
				margin-bottom: 5px;
				color: #777;
				text-transform: uppercase;
				@include rem(font-size, 12px);
		}
}
