.#{$nameprefix}tab,
.#{$nameprefix}sidetab {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 20;
		overflow: auto;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		@include transform(translateX(0px));

		&.open {
				@include transform(translateX(-$aside-width));
		}

		&__close {
				overflow: hidden;
				position: relative;
				display: block;
				cursor: pointer;
				height: $base-padding;
				line-height: $base-padding;
				padding: 0 $base-padding;
				@include transition(all 0.3s ease);

				svg {
            position: absolute;
            left: $base-padding;
            color: inherit;
            top: 5px;
            margin-right: 10px;
						@include transition(all 0.3s ease);
						@include transform(scale3d(1, 1, 1));
        }

				span {
						line-height: $base-padding;
						padding-left: $base-padding;
				}

				&:hover {
						color: $color-primary;

						svg {
							@include transform(scale3d(1.2, 1.2, 1.2));
						}
				}
		}

		.relav {
				position: relative;
		}

		h1 {
				color: #333;
				font-weight: 700;
				text-transform: uppercase;
				padding: 0 $base-padding;
				@include rem(font-size, 24px);
		}

		.tip {
				position: relative;
				cursor: pointer;
				width: 100%;
				min-height: $item-height;
				max-height: $item-height * 2;
				line-height: $item-height;
				padding: 0 $base-padding;
				@include rem(font-size, 14px);
		}

		ul {
				list-style: none;
				margin: 0;
				padding: 0;
		}
}

.#{$nameprefix}sidetab {
		h1 {
				> span {
						&:nth-child(1) {
								&:after {
									content: "/";
									@include rem(font-size, 16px);
								}
						}

						&:nth-child(2) {
								color: #777;
								font-weight: 200;
								@include rem(font-size, 14px);
						}
				}
		}
}
