.#{$nameprefix}canvas {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		outline: 0;
		@include clearfix;

		&__holder {
				width: 100%;
				height: 100%;
		}

		iframe {
				width: 100%;
				height: 100%;
				border: 0;
				padding: 0;
				margin: 0;
				outline: 0;
				overflow-x: hidden;
				overflow-y: scroll;
				@include clearfix;

				html {
						height: 100%;
						width: 100%;
				}
		}
}

.#{$nameprefix}suggestionBox {
		width: 100%;
		height: 100%;
		@include display(flex);
	  @include align-items(center);
	  @include align-content(flex-start);
	  @include justify-content(center);
	  @include flex-direction(column);
	  @include flex-wrap(wrap);

		h1,
		h2 {
				text-align: center;
				text-transform: uppercase;
				color: #666;
		}

		h1 {
				@include rem(font-size, 36px);
		}

		h2 {
				@include rem(font-size, 28px);
		}
}
