.#{$nameprefix}main {
    position: absolute;
    top: 0;
    left: $aside-width;
    width: calc(100% - #{$aside-width});
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 30;
    @include transition(all 0.3s ease);

    &.fullsize {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        height: 100%;
    }

    &.preview {
        width: 100%;
        left: 0;
        top: 0;
    }
}
