.#{$nameprefix}dropdown {
    display: inline-block;
    float: left;
    width: 200px;
    margin-top: 20px;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: $animation-curve-default;
        transition-duration: $animation-duration;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 30px;
        display: inline-block;
        border-bottom: 1px solid #ddd;

        &:hover {
            cursor: pointer;
        }
    }

    &__label {
        position: absolute;
        bottom: 8px;
        font-size: 15px;
        color: #a0a0a0;
    }

    &__label--float {
        position: absolute;
        font-size: 11px;
        bottom: 27px;
        color: #888;
        @include transition(300ms all ease);
    }

    &__selected-option {
        position: absolute;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        width: 100%;
        overflow: hidden;
    }

    &__button {
        position: absolute;
        right: 5px;
        top: 12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 6px 0 6px;
        border-color: #dddddd transparent transparent transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &__options {
        position: absolute;
        top: 3px;
        width: 100%;
        height: auto;
        max-height: 200px;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        float: left;
        background-color: #fff;
        z-index: 999;
        box-shadow: $zdepth-shadow-1;
        @include transition(150ms all ease);
    }

    &__options--hidden {
        position: absolute;
        top: -7.5px;
        width: 100%;
        height: 0px;
        padding-bottom: 0;
        padding-top: 0;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0px 0px 6px #ddd;
        @include transition(150ms all ease);
    }

    &__option {
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        line-height: 30px;
        float: left;
        @include transition(100ms all ease);

        &:hover {
            background-color: #eee;
        }

        &--active {
            color: $light-theme-color;
        }
    }

    &__ripple {
        position: relative;
        overflow: hidden;
    }

    &__ripple--active {
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: white;
        animation: ripple-animation 1.8s;
    }
}

@include keyframes (ripple-animation) {
    0% {
        opacity: 0.4;
        @include transform(scale(1));
    }

    100% {
        opacity: 0;
        @include transform(scale(100));
    }
}
