.#{$nameprefix}imgviewer {
    width: 100%;
    position: relative;
    opacity: 0;
    height: 0;
    border-top: 1px solid #ccc;
    background: #e4e4e4;
    @include transition(all 0.3s ease);

    .#{$nameprefix}scrollbar__inner {
        padding: 0;
    }

    &__inner {
        padding: 0 25px;
    }

    &__importbtn {
        display: none !important;
        position: absolute !important;
        bottom: 10px;
        right: 20px;
    }

    &.active {
        opacity: 1;
        height: 350px;

        .#{$nameprefix}imgviewer__importbtn {
            display: block;
        }
    }
}
