.#{$nameprefix}loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    visibility: hidden;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    @include transition(all 0.3s ease);
    @include display(flex);
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    @include flex-direction(column);
    @include flex-wrap(wrap);

    &.show {
        height: 100%;
        z-index: 9999;
        opacity: 1;
        visibility: visible;
    }

    &__loading,
    &__info {
        position: relative;
        font-weight: 200;
        color: #f1f1f2;
        height: 50px;
        width: 250px;
        text-align: center;
    }

    &__loading {
        font-size: 26px;
        margin: 25px 0 0;
    }

    &__info {
        font-size: 18px;
    }
}
