$upperbar-height: 60px;
$upperbar-background: #fff;

.#{$nameprefix}upperbar {
    width: 100%;
    position: relative;
    z-index: 50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: $upperbar-height;
    background: $upperbar-background;

    &__pcontrols {
        position: relative;
        display: inline-block;
        float: left;
        margin-left: $base-padding;

        .tt-input {
            display: inline-block;
            margin-top: 5px;
            margin-left: 25px;
            padding: 0;
        }
    }
}

.#{$nameprefix}preview-controls {
    position: relative;
    float: right;
    height: 100%;
    max-width: 250px;
    overflow: hidden;
    display: inline-block;
    margin-right: $base-padding;

    ul {
        list-style: none;
        float: right;

        li {
            cursor: pointer;
            display: inline-block;
            height: $upperbar-height;
            width: $upperbar-height;
            text-align: center;
            user-select: none;
            transition-property: background;
            transition-timing-function: $animation-curve-default;
            transition-duration: $animation-duration;

            &:not(.hidden):hover,
            &.active {
                background: #eee;
                box-shadow: inset 0px 0px 15px -5px rgba(0,0,0,0.3);
            }

            &.hidden {
                opacity: 0.3;
                cursor: not-allowed;
            }

            svg {
                margin-top: ($upperbar-height - 20px) / 2;
            }
        }
    }
}
