.#{$nameprefix}logo {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-top: $base-padding;
    margin-bottom: $base-padding * 1.5;
    @include clearfix;

    img {
        width: 100%;
    }
}
