.#{$nameprefix}color,
.#{$nameprefix}swatch,
.#{$nameprefix}toggle,
.#{$nameprefix}simpleitem {
		position: relative;
		cursor: pointer;
		width: 100%;
		min-height: $item-height;
		max-height: $item-height * 2;
		line-height: $item-height;
		padding: 0 $base-padding;
}

.#{$nameprefix}itemwrap {
		position: relative;
		cursor: pointer;
		width: 100%;
		padding: 0 $base-padding !important;
}

.#{$nameprefix}select {
		position: relative;
		cursor: pointer;
		width: $aside-width - ($base-padding * 2);
		margin: 0 $base-padding;

		&__name {
				text-transform: capitalize;
				color: #333;
				font-weight: 400;
				margin: 15px 0 0;
				padding: 0;
				@include rem(font-size, 14px);
		}
}

.#{$nameprefix}item {
		position: relative;
		cursor: pointer;
		text-transform: uppercase;

		&.link {
				width: 100%;
				min-height: $item-height;
				max-height: $item-height * 2;
				line-height: $item-height;
				padding: 0 $base-padding;

				svg {
						position: absolute;
						top: 6px;
						right: $base-padding;
				}
		}
}
