.#{$nameprefix}cstoolbox {
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	z-index: 99999;
	height: 45px;
	overflow: hidden;
    line-height: 16px;
    font-size: 16px;
	background: rgba(#000, 0.3);

	.settings {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			text-align: center;
			height: 45px;
			width: 45px;
            line-height: 16px;
            font-size: 16px;
			float: left;
			display: block;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			@include transition(all 0.3s ease);

			&:hover {
				background: rgba(#000, 0.9);
			}

			* {
				cursor: pointer;
			}

			svg {
				margin-top: 11px;
			}
		}
	}

	.dropdown {
		position: absolute;
		top: 50px;
		right: 20px;
		display: block;
		background: #FFF;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 210px;
		opacity: 0;
		height: 0;
		overflow: hidden;
        line-height: 16px;
        font-size: 16px;
		@include transition(all 0.3s ease);
		@include shadow-2dp();

		label {
			margin-top: 10px;
		}

		&.active {
			height: auto;
			opacity: 1;
			@include transform(translateX(0px));
		}

		li {
			width: 100%;
			display: block;
			width: 100%;
			overflow: hidden;
			height: 45px;
			line-height: 45px;
			padding: 0 15px;
			font-weight: 400;
			text-align: left;
			color: #222;
			font-size: 14px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

			&,
			& * {
				cursor: pointer;
			}

			&.title {
				background: $light-theme-color;
				color: #FFF;
				font-weight: 700;
				font-size: 16px;
			}
		}
	}
}
