$abprefix: 'ab-';
$base-color: #9b59b6;

@import "../Styles/bourbon/bourbon";
@import "../Styles/dependencies/rem";

* {
	cursor: auto;
}

html,
body {
	height: 100%;
}

.#{$abprefix}ch {
	outline: 1px solid #555 !important;
}

.#{$abprefix}crightpanel {
	position: fixed;
	display: none;
	z-index: 999999 !important;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    overflow: hidden;
    width: 170px;

	&.show {
		display: block;
	}

	&__text,
	&__item {
		width: 100%;
		overflow: hidden;
		height: 45px;
		line-height: 45px;
		padding: 0 15px;
		font-weight: 400;
		text-align: left;
		@include rem(font-size, 16px);
	}

	&__text {
		color: #FFF;
		font-weight: 700;
		background: $base-color;
	}

	&__item {
		background: #FFF;
		color: #333;
		@include rem(font-size, 14px);

		&,
		& * {
			cursor: pointer;
		}
	}
}

.#{$abprefix}cmain__wrapper {
	position: relative;
    overflow: hidden;
    width: 100%;
    @include transform(translate3d(0px, 0, 0));
	@include transition(all 0.3s ease);
}