@import "../Styles/bourbon/bourbon";
@import "../Styles/dependencies/rem";
@import "../Styles/mixins";
@import "../Styles/core/colors";
@import "../Styles/core/variables";
@import "../Styles/shared/switch";

* {
		cursor: auto;
}

html,
body {
		height: 100%;
}

.#{$nameprefix}croot {
		width: 100%;
		height: 100%;
}

.#{$nameprefix}ch {
		outline: 1px solid #bbb !important;
}

.#{$nameprefix}crightpanel {
		position: fixed;
		display: none;
		z-index: 999999 !important;
    border-radius: 4px;
    overflow: hidden;
    width: 170px;
		@include shadow-2dp();

		&.show {
				display: block;
		}

		&__text,
		&__item {
				width: 100%;
				overflow: hidden;
				height: 45px;
				line-height: 45px;
				padding: 0 15px;
				font-weight: 400;
				text-align: left;
				font-size: 16px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		&__text {
				color: #FFF;
				font-weight: 700;
				background: $color-primary;
		}

		&__item {
				background: #FFF;
				color: #333;
				font-size: 14px;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				@include animation-default();

				&:hover {
						background: darken(#FFF, 3%);
				}

				&,
				& * {
						cursor: pointer;
				}

				svg {
						vertical-align: middle;
						margin-right: 5px;
			    	height: 100%;
				}
		}
}

.#{$nameprefix}cstoolbox {
		position: absolute;
		top: 10px;
		right: 20px;
		display: block;
		z-index: 99999;

		.settings {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
						cursor: pointer;
						text-align: center;
						height: 40px;
						width: 40px;
						float: left;
						display: block;
						margin: 0 4px;
						border-radius: 100%;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
						background: rgba(#000, 0.3);
						@include transition(all 0.3s ease);

						&:hover {
								background: rgba(#000, 0.9);
								@include transform(rotate(360deg));
						}

						* {
							cursor: pointer;
						}

						svg {
								margin-top: 8px;
						}
				}
		}

		.dropdown {
				position: absolute;
				top: 50px;
				right: 20px;
				display: block;
				background: #FFF;
				list-style: none;
				margin: 0;
				padding: 0;
				width: 210px;
				opacity: 0;
				height: 0;
				overflow: hidden;
				@include transition(all 0.3s ease);
				@include shadow-2dp();

				label {
						margin-top: 10px;
				}

				&.active {
					height: auto;
					opacity: 1;
					@include transform(translateX(0px));
				}

				li {
						width: 100%;
						display: block;
						width: 100%;
						overflow: hidden;
						height: 45px;
						line-height: 45px;
						padding: 0 15px;
						font-weight: 400;
						text-align: left;
						color: #333;
						font-size: 14px;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

						&,
						& * {
								cursor: pointer;
						}

						&.title {
								background: $color-primary;
								color: #FFF;
								font-weight: 700;
								font-size: 16px;
						}
				}
		}
}

.#{$nameprefix}cmain__wrapper {
		position: relative;
    overflow: hidden;
    width: 100%;
    @include transform(translate3d(0px, 0, 0));
		@include transition(all 0.3s ease);
}

.boxed-layout {
		.#{$nameprefix}cmain__wrapper,
		.#{$nameprefix}cfooter__wrapper,
		nav {
				max-width: 1280px;
	    	margin: 0 auto;
	    	left: 0;
	    	right: 0;
    }
}

// TTEditor
$toolbox-bg: #181818;
$toolbox-secondary: $color-orange;
$toolbox-height: 42px;
$toolbox-width: (30px * 4) + 20px + 4px;
$toolbox-padding: 5px 10px;
$icon-size: 26px !default;
$icon-color: #FFF !default;

.tteditor {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 99999;

		&__hide {
				display: none;
		}

		&__show {
				display: block;
		}

		&__wrapper {
				display: block;
				position: relative;
				border-radius: 4px;
				height: $toolbox-height;
				line-height: $toolbox-height;
				padding: $toolbox-padding;
				width: $toolbox-width;
				background: $toolbox-bg;
				@include transition(all 0.3s ease);

				&:before {
						content: "";
						border-top: 5px solid $toolbox-bg;
						border-bottom: 5px solid transparent;
						border-right: 5px solid transparent;
						border-left: 5px solid transparent;
						position: absolute;
						margin-left: -5px;
						bottom: -10px;
						height: 5px;
						width: 0px;
						left: 50%;
				}
		}

		input {
				border-radius: 3px;
				overflow: hidden;
				outline: 0px;
				height: 30px;
				padding: 0px;
				margin: 0px;
				border: 0px;
				float: left;
				width: 0px;
		}

		button {
				display: block;
				background: transparent;
				cursor: pointer;
				height: 100%;
				width: 30px;
				border: 0;
				outline: 0;
				float: left;
				margin-right: 1px;
				padding: 0;
				font-size: 16px;
				font-family: inherit;
				color: inherit;
				@include user-select(none);

				* {
					 cursor: pointer;
				}

				&.active,
				&:hover {
						svg {
								fill: $toolbox-secondary;
						}
				}

				svg {
						height: $icon-size;
						width: $icon-size;
						fill: $icon-color;
				}
		}

		&.link-change {
				.tteditor {
						&__wrapper {
								width: 200px;
						}
				}

				button {
						width: 0;
						overflow: hidden;
					  margin-right: 0px;
					  opacity: 0;
				}

				input {
						border-left: 2px solid transparent;
						padding-right: 5px;
						padding-left: 5px;
						width: 155px;
						background: transparent;
						color: #fff;
				}
		}
}
